:root {
  --link-color: #aaaaaa;
  --white-color: #ffffff;
  --grey-color: #aaaaaa;
  --black-color: #000000
}

body {
  background-color: rgba(0, 0, 0, .5);
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  /* overflow: hidden; */
}

a:hover {
  color: var(--link-color)
}

[class^=portfolio__section] a:hover {
  color: var(--black-color);
  border-bottom: 1px solid var(--black-color);
}

header {
    background-color: #a2a2a2;
    min-height: 35px;    
    height:10vh;
    max-height: 50px;
  }

header .navbar-toggler {
  margin-top: 20px;
  padding: 4px
}

section {
  margin-top: 20vh;
  margin-bottom: 50px;
  color: #fff;
  /* overflow: scroll; */
}

.container-fluid {
  height: 100vh;
}

.navbar-nav.mr-auto li {
  text-align: center;
}

.navbar-nav.mr-auto li a {
  color: #fef6eb;
  padding: 6px;
}

.navbar-toggler {
  background-color: #a2a2a2;
}

.img-responsive {
  width: 100%;
}

input, textarea {
  padding: 8px;
}

#contact-form input, #contact-form textarea {
  font-family: tahoma,verdana,sans-serif;
  font-size: 14px;
  margin-top: 5px;
  border: 1px gray solid;
  /* float: right; */
}

#contact-form input[type="submit"]{
  padding: 0px;
}

.display-block {
  display: block;
}

#contact-form label {
  line-height: 30px;
}

.labels label {
  display: block;
}

.float-left {
  float: left;
}

#contact-form input, #contact-form textarea {
  font-family: tahoma,verdana,sans-serif;
  font-size: 13px;
  margin-top: 5px;
  border: 1px gray solid;
  float: right;
  width: 70%;
}

.contact__section--width, .portfolio__section--width {
  width: 100%;
}

.section__menu--color {
  color: rgba(0, 0, 0, 1);
}

.portfolio__section--width ul > li {
  list-style-type: none;
  margin-left: -20px
}

input {
  height: 30px;
}

.clear-both {
  clear: both;
}

a {
  color: #aaaaaa;
}

a:hover {
 border-bottom: 1px solid #fff;
 text-decoration: none;
}

h4 {
  font-style: italic;
  padding-bottom: 10px;
}

.active {
  border-bottom: 1px solid #ccc
}

.Menu__ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px;
}

.Menu__ul > .col {
  height: 50vh;
  width: 100%;
}

.Menu__ul__items--position {
  float: left;
  padding: 1px 10px;
}

.Row__col--height {
  height: 15vh;
}

.Row__col--padding {
  padding: 10px
}

.Row__col--box-black {
  background-color: rgba(0, 0, 0, 0.75);
}

.Row__header--fixed{
  position: fixed;
  z-index: 2;
}
.Row__col--align--center  {
  height: 20vh;
}
/* .Row__col--align--left {
  height: 90vh;
} */

p, h4 {
  color: white
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: rgba(0, 0, 0, .85);
  align-items: center;
  display: flex;
  justify-content: center;  
}

.footer--height {
  height: 35px;
}

footer p {
  padding: 0;
  margin: 0;
  color: var(--grey-color)
}

.porfolio__a--color {
  color: #000000;
}

.clearfix:after {
  display: table;
  clear: both;
  content: '';
}

.name {
 display: none;
}

.footer-noter {
  display: block;
}

@media screen and (min-width: 767px) {
    body {
      transition: 1s;
    }
  
    [class^=portfolio__section] ul li {
      padding-bottom: .5em;
    }

  .Menu__ul  {
    height: auto;
  }

  .Row__header--fixed{
    position: static;
  }

.col-md-3 {
  padding: 40px;
}

  section {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 60%;
    line-height: 28px;
    padding: 20px;
    /* height: 90vh; */
    overflow-y: auto;
    height: auto;
  }

  .Row__col--align--center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .Row__col--align--left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .Row__col--align--center  {
    height: 100vh;
  }
  .Row__col--align--left {
    height: 100vh;
  }

  .Menu__ul {
    text-align: right;
    padding: 0px;
    list-style-type: none;
    display: inline-block;
    justify-content: center;
  }

  .Menu__ul__items--position {
    float: none;
    padding: 5px 0;
  }

  footer {
    background: none;
    z-index: 2
  }

  .footer--shift-left {
    margin-left: -115px;
  }

  .Row__col--box-black {
    background-color: rgba(0, 0, 0, 1);
  }

  .section--padding a {
    color: rgba(0, 0, 0, 1)
  }

  .portfolio__section--height {
    height: 90vh;
  }
  .name {
    display: block;
    position: fixed;
    top: 3em;
    font-size: 1.25em;
    text-align: right;
  }

  /* .footer-name {
    display: none;
  } */

} 