header img {
    width: 100% !important;
  }

header .navbar-toggler {
  margin-top: 20px;
  padding: 4px
}

  section {
    margin: 100px 0 50px;
  }

  section img {
    padding-bottom: 30px;
  }
  
body {
  background-color: #fef6eb;
}

.navbar-nav.mr-auto{
  padding-top:30px;
  width: 100% !important;
}

.navbar-nav.mr-auto li {
  /* width: 25%; */
  text-align: center;
}

.navbar-brand {
  padding-top:20px;
}

.navbar-nav.mr-auto li a {
  color: #fef6eb;
  padding: 6px;
}

.navbar-toggler {
  background-color: #a2a2a2;
}

#root > div {
  height: 100%;
}

.img-responsive {
  width: 100%;
}

footer {
  padding-top: 7px;
}

input, textarea {
  padding: 8px;
}

#contact-form input, #contact-form textarea {
  font-family: tahoma,verdana,sans-serif;
  font-size: 13px;
  margin-top: 5px;
  border: 1px gray solid;
  float: right;
}

.display-block {
  display: block;
}

#contact-form label {
  line-height: 30px;
}

.labels label {
  display: block;
}

.float-left {
  float: left;
}

#contact-form #usernameInp, #contact-form #userEmailInp {
  width: 77%;
}
#contact-form #userDescInp {
  width: 77%;
  height: 100px;
}

#contact-form input, #contact-form textarea {
  font-family: tahoma,verdana,sans-serif;
  font-size: 13px;
  margin-top: 5px;
  border: 1px gray solid;
  float: right;
}
#contact-form input, #contact-form textarea {
  font-family: tahoma,verdana,sans-serif;
  font-size: 13px;
  margin-top: 5px;
  border: 1px gray solid;
  float: right;
}
input {
  height: 30px;
}

.clear-both {
  clear: both;
}

a {
  color: #aaaaaa;
}

a:hover {
 border-bottom: 1px solid #fff;
 text-decoration: none;
}

h4 {
  font-style: italic;
  padding-bottom: 10px;
}

.active {
  border-bottom: 1px solid #fff 
}

#contact-form label {
  line-height: 30px;
}



@media only screen and (max-width: 406px){
  body header img {
    width: 85% !important;
  }

  .navbar-brand {
    width: 80%;
  }
}

@media only screen and (max-width: 991px){
  ul.navbar-nav {
    background: #4f3721;
    opacity: 1;
    position: fixed;
    width: 100%;
    top: 100px;
    left: 0px;
  }

  .navbar-nav.mr-auto li{
    width: 100%;
    height: 30px;
  }

  .navbar-nav.mr-auto{
    padding:0px 0px 10px 0px;

  }

  section img {
    display: none;
  }

}