:root {
  --link-color: #aaaaaa;
  --white-color: #ffffff;
  --grey-color: #aaaaaa;
}

body {
  background-color: rgba(0, 0, 0, .5);
}

a:hover {
  color: var(--link-color)
}

header {
    background-color: #a2a2a2;
    min-height: 35px;    
    height:10vh;
    max-height: 50px;
  }

header .navbar-toggler {
  margin-top: 20px;
  padding: 4px
}

section {
  margin-top: 20vh;
  margin-bottom: 50px;
  color: #fff
}

.container-fluid {
  height: 100vh;
}

.navbar-nav.mr-auto li {
  text-align: center;
}

.navbar-nav.mr-auto li a {
  color: #fef6eb;
  padding: 6px;
}

.navbar-toggler {
  background-color: #a2a2a2;
}

.img-responsive {
  width: 100%;
}

input, textarea {
  padding: 8px;
}

#contact-form input, #contact-form textarea {
  font-family: tahoma,verdana,sans-serif;
  font-size: 13px;
  margin-top: 5px;
  border: 1px gray solid;
  /* float: right; */
}

.display-block {
  display: block;
}

#contact-form label {
  line-height: 30px;
}

.labels label {
  display: block;
}

.float-left {
  float: left;
}

#contact-form input, #contact-form textarea {
  font-family: tahoma,verdana,sans-serif;
  font-size: 13px;
  margin-top: 5px;
  border: 1px gray solid;
  float: right;
  width: 70%;
}
input {
  height: 30px;
}

.clear-both {
  clear: both;
}

a {
  color: #aaaaaa;
}

a:hover {
 border-bottom: 1px solid #fff;
 text-decoration: none;
}

h4 {
  font-style: italic;
  padding-bottom: 10px;
}

.active {
  border-bottom: 1px solid #ccc
}

.Menu__ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px;
}

.Menu__ul > .col {
  height: 50vh;
  width: 100%;
}

.Menu__ul__items--position {
  float: left;
  padding: 1px 10px;
}

.Row__col--height {
  height: 15vh;
}

.Row__col--padding {
  padding: 10px
}

.Row__col--box-black {
  background-color: rgba(0, 0, 0, 0.85);
}

.Row__header--fixed{
  position: fixed;
  z-index: 2;
}
.Row__col--align--center  {
  height: 20vh;
}
/* .Row__col--align--left {
  height: 90vh;
} */

p, h4 {
  color: white
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: rgba(0, 0, 0, .85);
  align-items: center;
  display: flex;
  justify-content: center;  
}

.footer--height {
  height: 35px;
}

footer p {
  padding: 0;
  margin: 0;
  color: var(--grey-color)
}

.clearfix:after {
  display: table;
  clear: both;
  content: '';
}

@media screen and (min-width: 767px) {
  
  .Menu__ul  {
    height: auto;
  }

  .Row__header--fixed{
    position: static;
  }

  section {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .Row__col--align--center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .Row__col--align--left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .Row__col--align--center  {
    height: 100vh;
  }
  .Row__col--align--left {
    height: 100vh;
  }

  .Menu__ul {
    text-align: right;
    padding: 0px;
    list-style-type: none;
    display: inline-block;
    justify-content: center;
  }

  .Menu__ul__items--position {
    float: none;
    padding: 5px 0;
  }

  footer {
    background: none;
    z-index: 2
  }

  .footer--shift-left {
    margin-left: -180px;
  }

} 